* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
}

nav {
  background: #333333;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.logo {
  display: flex;
  flex-direction: row;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}
.upload {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#span-generator {
  color: yellow;
}

.image-genetaror-container {
  background-color: #333333;
  margin: 5rem;
  display: flex;
  width: 1600px;
}

.image-genetaror-container img {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  position: relative;
  text-align: center;
}

.image-container img {
  height: 1000px;
  width: 1000px;
}

.upper-p {
  position: absolute;
  top: 100px;
  left: 20%;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 600px;
  word-wrap: break-word;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  letter-spacing: 2px;
}

.middle-p {
  position: absolute;
  bottom: 550px;
  left: 20%;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 600px;
  word-wrap: break-word;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  letter-spacing: 2px;
}

.lower-p {
  position: absolute;
  bottom: 180px;
  left: 20%;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 600px;
  word-wrap: break-word;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  letter-spacing: 2px;
}

#next-button {
  margin-left: 30px;
}

#save-button {
  margin-left: 30px;
}

button {
  background-color: yellow;
  border: none;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
}

.text-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  margin: 10px;
  padding: 10px;
  width: 500px;
  border: 3px solid yellow;
  border-radius: 50px;
}
